<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.toy.user.mapper.UserMapper">
	<insert id="insert" parameterType="userDto">
		insert into tc_user
		(user_id,
		 user_pw,
		 <if test="user_name != null">
			 user_name,
		 </if>
		 <if test="user_phone != null">
		 	user_phone,
		 </if>
		 <if test="user_email != null">
		 	user_email,
		 </if>
		 <if test="user_addr != null">
		 	user_addr,
		 </if>
			user_type,
			user_rest,
			user_yn,
			create_user_id,
			update_user_id
		 )
		 values (
			 #{user_id},
			 #{user_pw},
			 <if test="user_name != null">
			  #{user_name},
			 </if>
			 <if test="user_phone != null">
			 #{user_phone},
			 </if>
			 <if test="user_email != null">
			 #{user_email},
			 </if>
			 <if test="user_addr != null">
			 #{user_addr},
			 </if>
			 #{user_type},
			 #{user_rest},
			 #{user_yn},
			 #{create_user_id},
		 	 #{update_user_id}
		 )
	</insert>
	<select id="detail" parameterType="hashMap" resultType="userDto">
		select 
			user_id,
			user_pw,
			user_name,
			user_phone,
			user_email,
			user_addr,
			user_type,
			user_rest,
			user_yn
		from tc_user
		where user_id = #{user_id}
		<if test="user_pw != null">
			and user_pw = #{user_pw}
		</if>
		<if test="user_yn != null">
			and user_yn = 'Y'
		</if>
	</select>
	<select id="totalCount" parameterType="hashMap" resultType="Integer">
		with usertable as(
		select 
				user_id,
				user_name,
				user_phone,
				user_email,
				user_type,
				user_rest,
				user_yn,
				create_date,
				user_addr
			from tc_user
			<where>
				<if test="user_id != null">
					and user_id like concat( '%', #{user_id},'%')
				</if>
				<if test="user_name != null ">
					and user_name like concat( '%', #{user_name},'%')
				</if>
			</where>
		)
			select
				count(*)
				from
			(
				select 
					a.user_id,
					a.user_name,
					a.user_phone,
					a.user_email,
					a.user_type,
					b.code_title,
					a.user_rest,
					a.user_yn,
					a.create_date,
					a.user_addr
					from usertable a left join tc_code_child b
					on a.user_type = b.child_code
			) a
	</select>
	<select id="list" parameterType="hashMap" resultType="userDto">
		with usertable as(
		select 
				user_id,
				user_name,
				user_phone,
				user_email,
				user_type,
				user_rest,
				user_yn,
				create_date,
				user_addr
			from tc_user
			<where>
				<if test="user_id != null">
					and user_id like concat( '%', #{user_id},'%')
				</if>
				<if test="user_name != null ">
					and user_name like concat( '%', #{user_name},'%')
				</if>
			</where>
		)
		select *
		from(
			select
				@rownum := @rownum + 1 as row_num, 
				a.*
				from
			(
				select 
					a.user_id,
					a.user_name,
					a.user_phone,
					a.user_email,
					a.user_type,
					b.code_title as user_type_title,
					a.user_rest,
					a.user_yn,
					a.create_date,
					a.user_addr
					from usertable a left join tc_code_child b
					on a.user_type = b.child_code
					order by user_id desc
			) a inner join (select @rownum :=0) b
		) a where row_num between #{startPage} and #{endPage}
	</select>
	<update id="update" parameterType="userDto">
		update tc_user set
		<if test="user_yn != null">
			user_yn = #{user_yn},
		</if>
		<if test="user_rest != null">
			user_rest = #{user_rest},
		</if>
		update_date = now()
		where user_id = #{user_id}
	</update>
</mapper>
